form {
  font-family: Helvetica, sans-serif;
}

.gradient-form {
  background-image: url("../images/login_bg_img.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-color:  #7ac5c5;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

